// Fonts
@import "./pretendard.scss";

//reset
@import "./reset.scss";

// Variables
@import "variables";
@import "mixin";

//반응형
@import "./reactive.scss";

// Bootstrap
@import "bootstrap/scss/bootstrap";

//view
@import "./home.scss";
@import "./credit.scss";
@import "./message.scss";

a {
    color: #222222;
    text-decoration: none;
}
/* Chrome, Firefox, Opera, Safari 10.1+ */
input:focus::placeholder {
    color: transparent;
}

/* Edge */
input:focus::-ms-input-placeholder {
    color: transparent;
}

body {
    min-width: 1400px;
    background-color: #ffffff;
    font-family: $font !important;

    //공통 (메세지, 크레딧)
    .sub_nav {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 16px 0 16px;
        & > ul {
            min-width: 1220px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 8px;
            .sub_nav-menu {
                font: 20px/1.4 Pretendard;
                font-weight: 600;
                color: #555555;
                border-radius: 13px;
                padding: 16px 32px;

                &.active {
                    color: #4f44f0;
                    background-color: #e1e7fd;
                }
            }
        }
    }

    header {
        nav {
            &#navbar {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 99;
                width: 100%;
                height: 80px;
                background-color: #000000;
                transition: background-color 0.3s;
                border-bottom: 1px solid #727b88;
                padding: 0;

                &.scrolled {
                    background-color: white; /* 스크롤되면 흰색 배경으로 변경 */
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
                    transform: translateY(0);
                    .container {
                        .nav-item {
                            .nav-link {
                                color: #000000 !important;
                            }
                        }
                    }
                }

                .container {
                    height: 100%;
                    gap: 256px;
                    .navbar-brand {
                        & > svg {
                            width: 142px;
                            height: 44px;
                        }
                    }
                    .navbar-collapse {
                        height: 100%;
                    }
                    .navbar-nav {
                        height: 100%;
                        align-items: center;
                        gap: 0;
                        .nav-item {
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0 70px;
                            &.link_selected {
                                border-bottom: 2px solid #4e43ed;
                            }
                            .nav-link {
                                font: normal normal 600 20px/24px Pretendard;
                                color: #d9d9d9;
                            }
                        }
                    }
                }
            }
        }
    }

    main {
        margin-top: 80px;
    }

    footer {
        color: #ededed;
        background-color: #222222;
        nav {
            background-color: #222222;
            &.navbar {
                height: auto;
                padding: 0;
                svg {
                    width: 142px;
                    height: 44px;
                }

                .container {
                    padding: 56px 40px 36px;
                    gap: 480px;
                    .navbar-nav {
                        gap: 80px;
                        .nav-item {
                            .nav-link {
                                color: #ededed;
                                font: 16px/33px Pretendard;
                                letter-spacing: 0px;
                                &:hover,
                                &:focus {
                                    color: #ededed;
                                }
                            }
                        }
                    }
                }
            }
        }
        .container.info {
            padding-top: 32px;
            padding-bottom: 96px;
            & > p {
                color: #d6d6d6;
            }
            & > span {
                color: #f0f0f0;
            }
        }
        hr {
            margin: 0;
        }
    }
}

//반응형
//1400px 이하
@include desktop {
    body {
        min-width: 1024px;
        //공통 (메세지, 크레딧)
        .sub_nav {
            & > ul {
                min-width: auto;
                .sub_nav-menu {
                    font: 18px Pretendard;
                    font-weight: 600;
                    padding: 16px 32px;
                    cursor: pointer;
                    & > a {
                        padding: 0;
                    }
                }
            }
        }
        header {
            nav {
                &#navbar {
                    .container {
                        gap: 200px;
                        .navbar-nav {
                            gap: 80px;
                        }
                    }
                }
            }
        }

        main {
        }

        footer {
            .navbar {
                svg {
                    width: 140px;
                    height: 42px;
                }

                .container {
                    padding: 50px 30px 30px;
                    .navbar-nav {
                        .nav-item {
                            .nav-link {
                                font: 16px/1 Pretendard;
                            }
                        }
                    }
                }
            }
            .container.info {
                padding-top: 30px;
                padding-bottom: 90px;
            }
        }
    }
}

//1024px 이하
@include laptop {
    body {
        min-width: 768px;
        //공통 (메세지, 크레딧)
        .sub_nav {
            & > ul {
                .sub_nav-menu {
                    font: 18px Pretendard;
                    font-weight: 600;
                    padding: 16px 32px;
                }
            }
        }

        header {
            nav {
                &#navbar {
                    .container {
                        width: 100%;
                        max-width: 1024px;
                        gap: 200px;
                        .navbar-nav {
                            gap: 50px;
                            .nav-item {
                                padding: 0 40px;
                                .nav-link {
                                    font: 600 20px/1 Pretendard;
                                }
                            }
                        }
                    }
                }
            }
        }

        main {
        }

        footer {
            .navbar {
                svg {
                    width: 140px;
                    height: 42px;
                }

                .container {
                    padding: 50px 30px 30px;
                    .navbar-nav {
                        .nav-item {
                            .nav-link {
                                font: 16px/1 Pretendard;
                            }
                        }
                    }
                }
            }
            .container.info {
                padding-top: 30px;
                padding-bottom: 90px;
            }
        }
    }
}

@include tablet {
    body {
        min-width: 680px;
        //공통 (메세지, 크레딧)
        .sub_nav {
            padding: 14px 0;
            & > ul {
                margin: 0;
                .sub_nav-menu {
                    font: 16px Pretendard;
                    font-weight: 600;
                    padding: 14px 28px;
                }
            }
        }

        header {
            nav {
                &#navbar {
                    .container {
                        width: 100%;
                        max-width: 768px;
                        flex-wrap: nowrap !important;
                        gap: 40px;
                        padding: 0 20px;
                        .navbar-nav {
                            flex-direction: row;
                            justify-content: flex-end;
                            gap: 50px;
                            .nav-item {
                                padding: 0 20px;
                                .nav-link {
                                    font: 600 18px/1 Pretendard;
                                }
                                &.dropdown {
                                    position: relative;
                                }
                                .dropdown-menu.dropdown-menu-end {
                                    position: absolute;
                                    right: 0;
                                    & > a {
                                        font-size: 14px;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        main {
        }

        footer {
            .navbar {
                svg {
                    width: 140px;
                    height: 42px;
                }

                .container {
                    padding: 40px 24px 20px;
                    .navbar-nav {
                        .nav-item {
                            .nav-link {
                                font: 16px/1 Pretendard;
                            }
                        }
                    }
                }
            }
            .container.info {
                padding-top: 30px;
                padding-bottom: 80px;
            }
        }
    }
}

@include mobile {
    body {
        min-width: 360px;
        //공통 (메세지, 크레딧)
        .sub_nav {
            padding: 12px 0;
            & > ul {
                margin: 0;
                .sub_nav-menu {
                    font: 14px Pretendard;
                    font-weight: 600;
                    padding: 10px 20px;
                    text-align: center;
                    & > a {
                        word-break: keep-all;
                    }
                }
            }
        }

        header {
            nav {
                &#navbar {
                    .container {
                        min-width: 360px;
                        max-width: 540px;
                        gap: 12px;
                        padding: 0 10px;
                        .navbar-nav {
                            justify-content: center;
                            gap: 14px;
                            .nav-item {
                                padding: 0 10px;
                                .nav-link {
                                    font: 600 16px/1 Pretendard;
                                }

                                .dropdown-menu.dropdown-menu-end {
                                    width: 50px;
                                    & > a {
                                        font-size: 14px;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        main {
        }

        footer {
            .navbar {
                svg {
                    width: 130px;
                    height: 32px;
                }

                .container {
                    padding: 40px 20px 20px;
                    .navbar-nav {
                        .nav-item {
                            .nav-link {
                                font: 14px/1 Pretendard;
                            }
                        }
                    }
                }
            }
            .container.info {
                padding-top: 30px;
                padding-bottom: 80px;
                & > p {
                    font-size: 14px;
                    & > span {
                        display: block;
                    }
                }
            }
        }
    }
}
