// Fonts
@import "./pretendard.scss";

//reset
@import "./reset.scss";

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

//view
@import "./home.scss";
@import "./credit.scss";

a {
    color: #222222;
    text-decoration: none;
}

body {
    min-width: 1920px;
    background-color: #ffffff;
    font-family: $font !important;
    nav {
        height: 80px;
        .container {
            gap: 256px;
            .navbar-brand {
                & > img {
                    width: 142px;
                    height: 44px;
                }
            }
            .navbar-nav {
                gap: 80px;
                .nav-item {
                    .nav-link {
                        font: normal normal 600 20px/24px Pretendard;
                    }
                }
            }
        }
    }

    main {
    }

    footer {
        background-color: #222222;
        color: #ededed;
        .navbar {
            height: auto;
            padding: 0;
            svg {
                width: 142px;
                height: 44px;
            }

            .container {
                padding: 56px 40px 36px;
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: #ededed;
                            font: 16px/33px Pretendard;
                            letter-spacing: 0px;
                            &:hover,
                            &:focus {
                                color: #ededed;
                            }
                        }
                    }
                }
            }
        }
        .container.info {
            padding-top: 32px;
            padding-bottom: 96px;
            & > p {
                color: #d6d6d6;
            }
            & > span {
                color: #f0f0f0;
            }
        }
        hr {
            margin: 0;
        }
    }
}
