.register {
    width: 100%;
    height: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f4f8;
    padding: 174px 0 156px;
    .card_wrap {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: none;
            background: transparent;
            & > a {
                width: 219px;
                height: 68px;
                margin-bottom: 70px;
                & > img {
                    width: 100%;
                }
            }
            & > form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 64px;
                .input_data {
                    & > label {
                        font: 22px/26px Pretendard;
                        font-weight: bold;
                        color: #000000;
                        margin-bottom: 14px;
                    }
                    .form-control {
                        width: 100%;
                        min-width: 560px;
                        height: 61px;
                        padding: 20px;
                        font: 18px/21px Pretendard;
                        color: #7b7b7b;
                        border: 1px solid #cecece;
                        &:focus {
                            outline: 0;
                            box-shadow: none;
                        }
                    }
                }
                .chk_data {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    font: 18px/21px Pretendard;
                    color: #1c1c1c;
                    border-top: 1px solid #dedede;
                    border-bottom: 1px solid #dedede;
                    .form-check {
                        display: flex;
                        align-items: center;
                        padding: 0;
                        gap: 8px;
                        padding: 52px 0;
                        .form-check-input {
                            margin: 0;
                        }
                        & > label {
                            font: 20px/24px Pretendard;
                            font-weight: 600;
                            color: #1c1c1c;
                        }
                    }
                }
                .btn_wrap {
                    width: 100%;
                    & > button {
                        width: 100%;
                        font: 22px/26px Pretendard;
                        color: #ffffff;
                        padding: 20px 0;
                        background: #4f44f0 0% 0% no-repeat padding-box;
                        border-radius: 8px;
                    }
                }
            }
        }
    }
}

@include desktop {
    .register {
        // min-height: 70vh;
        padding: 170px 0 150px;
        .card_wrap {
            .card {
                & > a {
                    width: 210px;
                    height: 68px;
                    margin-bottom: 68px;
                }
                & > form {
                    gap: 60px;
                    .input_data {
                        & > label {
                            font: 21px/1.4 Pretendard;
                            font-weight: bold;
                            margin-bottom: 12px;
                        }
                        .form-control {
                            min-width: 550px;
                            height: 60px;
                            padding: 20px;
                            font: 18px/1.4 Pretendard;
                        }
                    }
                    .chk_data {
                        font: 18px/1.4 Pretendard;
                        .form-check {
                            gap: 8px;
                            padding: 50px 0;
                            & > label {
                                font: 20px/1.4 Pretendard;
                                font-weight: 600;
                            }
                        }
                    }
                    .btn_wrap {
                        & > button {
                            font: 22px/26px Pretendard;
                            padding: 20px 0;
                        }
                    }
                }
            }
        }
    }
}
@include laptop {
    .register {
        // min-height: 70vh;
        padding: 150px 0 140px;
        .card_wrap {
            .card {
                & > a {
                    width: 200px;
                    height: 66px;
                    margin-bottom: 66px;
                }
                & > form {
                    gap: 40px;
                    .input_data {
                        & > label {
                            font: 20px/1.4 Pretendard;
                            font-weight: bold;
                            margin-bottom: 10px;
                        }
                        .form-control {
                            min-width: 540px;
                            height: 60px;
                            padding: 20px;
                            font: 18px/1.4 Pretendard;
                        }
                    }
                    .chk_data {
                        font: 18px/1.4 Pretendard;
                        .form-check {
                            gap: 8px;
                            padding: 40px 0;
                            & > label {
                                font: 18px/1.4 Pretendard;
                                font-weight: 600;
                            }
                        }
                    }
                    .btn_wrap {
                        & > button {
                            font: 20px/26px Pretendard;
                            padding: 20px 0;
                        }
                    }
                }
            }
        }
    }
}
@include tablet {
    .register {
        // min-height: 70vh;
        padding: 120px 0;
        .card_wrap {
            .card {
                & > a {
                    width: 190px;
                    height: 60px;
                    margin-bottom: 60px;
                }
                & > form {
                    gap: 32px;
                    .input_data {
                        & > label {
                            font: 18px/1.4 Pretendard;
                            font-weight: bold;
                            margin-bottom: 10px;
                        }
                        .form-control {
                            min-width: 480px;
                            height: 60px;
                            padding: 20px;
                            font: 17px/1.4 Pretendard;
                        }
                    }
                    .chk_data {
                        font: 16px/1.4 Pretendard;
                        .form-check {
                            gap: 8px;
                            padding: 20px 0;
                            & > label {
                                font: 17px/1.4 Pretendard;
                                font-weight: 600;
                            }
                        }
                    }
                    .btn_wrap {
                        & > button {
                            font: 18px/26px Pretendard;
                            padding: 18px 0;
                        }
                    }
                }
            }
        }
    }
}
@include mobile {
    .register {
        // min-height: 70vh;
        padding: 120px 0;
        .card_wrap {
            .card {
                & > a {
                    width: 160px;
                    height: 50px;
                    margin-bottom: 40px;
                }
                & > form {
                    gap: 22px;
                    .input_data {
                        & > label {
                            font: 16px/1.4 Pretendard;
                            font-weight: bold;
                            margin-bottom: 6px;
                        }
                        .form-control {
                            min-width: 320px;
                            height: 50px;
                            padding: 18px;
                            padding-left: 32px;
                            font: 14px/1.4 Pretendard;
                        }
                    }
                    .chk_data {
                        font: 14px/1.4 Pretendard;
                        .form-check {
                            gap: 6px;
                            padding: 18px 0;
                            & > label {
                                font: 15px/1.4 Pretendard;
                                font-weight: 600;
                            }
                        }
                    }
                    .btn_wrap {
                        & > button {
                            font: 16px/26px Pretendard;
                            padding: 14px 0;
                        }
                    }
                }
            }
        }
    }
}
